@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .rotate-90 {
      transform: rotate(90deg);
      transition: transform 0.3s ease-in-out; /* Rotasi 90 derajat dengan durasi transisi 0.3 detik */
    }

    #settingsIcon {
      transition: transform 0.3s ease-in-out; /* Durasi animasi rotasi adalah 0,3 detik */
    }

    #settingsDropdown {
      display: none; /* Mulai dengan disembunyikan */
      opacity: 0;
      transform: scaleY(0); /* Skala vertikal 0 artinya terkompres secara vertikal */
      transform-origin: top; /* Animasi mulai dari bagian atas */
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Durasi animasi untuk opacity dan transform */
    }

    .reservation-link.underline {
        text-decoration: underline;
    }
    
    #reservationDropdown {
      display: none;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    
    #reservationDropdown.show {
        display: block;
        opacity: 1;
        transform: scaleY(1);
    }
    #reservationDate, #reservationMonth {
      padding: 10px;
      font-size: 16px;
    }
  
    select#reservationTime {
      padding: 10px;
      font-size: 16px;
    }

    #notification {
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: translateY(-10px);
      z-index: 1000;
    }
    
    #notification.show {
      opacity: 1;
      transform: translateY(0);
    }
    .flash-message {
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      font-size: 0.875rem; /* Text-sm */
      display: block;
    }
    .flash-success {
        background-color: #d1fae5; /* Green-100 */
        border-left: 4px solid #10b981; /* Green-500 */
        color: #065f46; /* Green-700 */
    }
    .flash-danger {
        background-color: #fee2e2; /* Red-100 */
        border-left: 4px solid #ef4444; /* Red-500 */
        color: #991b1b; /* Red-700 */
    }
      
  }